body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #080000;
}

header {
    background: #333;
    color: #140101;
    padding: 1em 0;
    text-align: center;
}

header img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: 1em;
}

section {
    padding: 2em;
    background: #fff;
    margin: 2em 0;
}

h2 {
    color: #fdd10b;
}

.project {
    margin-bottom: 1.5em;
}

.social-media a {
    margin-right: 1em;
    text-decoration: none;
    color: #333;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}
